# Exploratory data analysis of amazon india for 2022

Questions to be investigated
=
<br>* How many unique orders 
<br>* How frequently orders can get cancelled 
<br>* Does sales increase od decreased in specific month 
<br>* Does price range has imoact on cancelled orders
<br>* Which most five profitable city and state
<br>* Most frequent shipping mode
<br>* Most orderd category
<br>* How often b2b transactions happen
<br>* Deos free shipping promotion increase orders

In [ ]:
#Importing needed libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pip install nbformat

In [ ]:
df = pd.read_csv('Amazon Sale Report.csv')

In [ ]:
df.head(50)

In [ ]:
df.tail(50)

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
#dropping the last column
df =df.drop('Unnamed: 22',axis=1)

In [ ]:
df.columns

In [ ]:
#filling the fulfilment by nan by amazon as the merchant use easy ship as fulfilment servic
df['fulfilled-by'].fillna('amazon',inplace=True)

In [ ]:
df['fulfilled-by'].isnull().sum()

In [ ]:
df['promotion-ids'].fillna('no_promotions',inplace =True)

In [ ]:
df['promotion-ids'].isnull().sum()

In [ ]:
df['Courier Status'].isnull().sum()

In [ ]:
#checking if the nulls are the cancelled orders only
df[['Courier Status','Status']]

In [ ]:
df['Courier Status'].fillna('Cancelled',inplace =True)

In [ ]:
#make shipping entries consistant (removing the - Delivered to Buyer part)
df['Status'].replace('Shipped - Delivered to Buyer','Shipped',inplace=True)

In [ ]:
df['Status']

In [ ]:
df.info()

In [ ]:
#filling nan currnecy with INR as this data set is only about amazon india
df['currency'].fillna(method='backfill',inplace=True)

In [ ]:
df[['Status','ship-city','ship-state','ship-postal-code','ship-country']]

In [ ]:
#dropping the ship-country column as this data set is about sales in india
df.drop('ship-country',axis=1,inplace=True)

In [ ]:
#the problem here is that india only has 28 states, that count difference might be inconsistent spilling, entering a city as a state it also may be the cas for the ship-city column
df[['ship-city','ship-state']].nunique()

In [ ]:
df[['ship-city','ship-state']].tail(50)

In [ ]:
pd.options.display.max_rows = 128975

df[['ship-city','ship-state']]

In [ ]:
df['ship-city']=df['ship-city'].str.upper()

In [ ]:
df['ship-city'].str.strip('.(M)-2(W)- 400062CITY, PUNE560037400101')

In [ ]:
my_dict={'BENGALURU':'BANGALORE',
        'GA': 'GOA',
        'DELH':'DELHI',
        'MUMBAI - 400062':'MUMBAI',
        'AMBALA CITY':'AMBALA',
        'RAU':'Indore',
        'FARIDPUR BAREILLY DISTRICT':'FARIDPUR',
        'KOYILANDY, KOZHIKODE':'KOYILANDY',
        'VIKAS PURI, F BLOCK':'VIKAS PURI',
        'JHUMRI TILAIYA':'JHUMRI TELAIYA',
        'MANDVI KACHCHH DISTRICT':'MANDVI',
        'TUMAKURU. PHONE NUMBER 9686000855':'TUMAKURU',
        'SIPCOT PERUNDURAI':'PERUNDURAI',
        'MALAPPURAM P O':'MALAPPURAM',
        'KANJIKODE INDUSTRIAL AREA':'KANJIKODE',
        'KESHORAI PATAN DISTRICT BUNDI':'KESHORAI',
        'ATCHUTAPURAM APSEZ':'ATCHUTAPURAM',
        'PIMPRI CHINCHWAD, PUNE':'PUNE',
        'RANIP,AHMEDABAD':'AHMEDABAD',        
        'KUTHUPARAMBA, KANNUR':'KANNUR',
        'COLACHAL, KANYA KUMARI DISTRICT':'COLACHAL',
        'NTPC KANIHA TOWNSHIP':'NTPC KANIHA',
        'SIPCOT THOOTHUKUDI':'THOOTHUKUDI',
        'SAO JOSE DE AREAL':'GOA',
        'AMETHI SULTANPUR DISTRICT':'AMETHI',
        'ARANI TIRUVANNAMALAI DISTRICT':'ARANI',
        'BENGALURU 560037':'BANGALORE',
        'ATMAKUR SRI POTTI SRIRAMULU':'ATMAKUR',
        'MAHRAJGANJ MAHRAJGANJ DISTRICT':'MAHRAJGANJ',
        'NEW TOWN, KOLKATA':'KOLKATA',
        'ALOK CITY':'ALOK',
        'RAI INDUSTRIAL AREA':'RAI',
        'MUMBAI 400101':'MUMBAI',
        'METTUPALAYAM COIMBATORE DISTRICT':'METTUPALAYAM',
        'KANNAMANGALAM ALAPPUZHA DISTRICT':'KANNAMANGALAM',
        'LILUAH,HOWRAH':'HOWRAH',
        'HYDERABAD (500034)':'HYDERABAD',
        'PALLIPPURAM THIRUVANANTHAPURAM DISTRICT':'PALLIPPURAM',
        'TIRUPATHUR SIVAGANGA DISTRICT':'TIRUPATHUR',
        'GUDALUR COIMBATORE DISTRICT':'GUDALUR',
        'KANIYAPURAM, THIRUVANANTHAPURAM DISTRICT':'KANIYAPURAM',
        'MALPUR ROAD, MODASA':'MODASA',
        'MAHADEVAPURA, BANGALORE':'BANGALORE',
        'NUVEM.   ( DO NOT RING THE DOOR BELL, CALL B4 COMG':'NUVEM',
        'FORT.MUMBAI':'MUMBAI',
        'KUNDLI INDUSTRIAL AREA':'KUNDLI',
        'DOBASPET INDUSTRIAL AREA':'DOBASPET',
        'RANIPET, VELLORE DT':'RANIPET',
        'ALANGULAM TIRUNELVELI DISTRICT':'ALANGULAM',
        'RAJGARH RAJGARH DISTRICT':'RAJGARH',
        'NARASINGAPURAM VELLORE DISTRICT':'NARASINGAPURAM',
        'JALALABAD SHAHJAHANPUR DISTRICT':'JALALABAD',
        'TENALI, GUNTUR DISTRICT':'TENALI',
        'ARANI THIRUVALLUR DISTRICT':'ARANI',
        'IB THEMAL POWER PLANT BANHARPALI TOWNSHIP':'BANHARPALI TOWNSHIP',
        'COIMBATORE 641041':'COIMBATORE',
        'ALIPORE KOLKATA':'KOLKATA',
        'BHAYANDER (EASY)':'EAST BHAYANDER',
        'NALLASOPARA (EAST)':'EAST NALLASOPARA',
        'INDIRAPURAM, GHAZIABAD':'GHAZIABAD',
        'IRITTY,KANNUR':'KANNUR',
        'NALLASOPARA (EAST)':'EAST NALLASOPARA',
        'PLOT NO.7,SECTOR 47,GURGAON':'GURGAON',
        'ANDHERI EAST, MUMBAI':'EAST MUMBAI',
        'VRINDAVAN, MATHURA':'VRINDAVAN',
        'TANDA AMBEDKAR NAGAR DISTRICT':'TANDA',
        'NANDIKOTKUR KURNOOL':'',
        'TADIGADAPA,VIJAYAWADA':'VIJAYAWADA',
        'BADLAPUR (EAST)':'EAST BADLAPUR',
        'CHENNAI.':'CHENNAI',
        'KANCHIKACHERLA, KRISHNA DISTRICT':'KANCHIKACHERLA',
        'WAGHOLI, PUNE':'PUNE',
        'MANJERI P.O ':'MANJERI',
        'DOMBIVALI E':'EAST DOMBIVALI',
        'THANE - WEST':'THANE-WEST',
        'THANE(W), THANE':'THANE-WEST',
         'GANGAPUR CITY':'GANGAPUR',
         'KALYAN E':'EAST KALYAN',
         'VINDHYANAGAR, SINGRAULI':'Singrauli',
         'OLD PANVEL, NAVI MUMBAI':'MUMBAI',
         'KHANAKUL I':'KHANAKUL',
         'PIMPRI CHINCHWAD PUNE':'PUNE',
         'BEHALA, KOLKATA':'KOLKATA',
         'MANGALURU 575008':'MANGALURU',
         'KUKATPALLY, HYDERABAD':'HYDERABAD',
         'MUMBAI 400030':'MUMBAI',
         'KHARGHAR, NAVI MUMBAI':'MUMBAI',
         'SANPADA SECTOR 1':'SANPADA',
         'BIDHAN NAGAR, KOLKATA':'KOLKATA',
         'DOMBIVLI ( WEST)':'WEST DOMBIVLI',
         'AMRUTHAHALLI, JAKKUR POST':'AMRUTHAHALLI',
         'KALAIYANUR, COIMBATORE':'COIMBATORE',
         'RAVET, PUNE':'PUNE',
         'URGADUR. SHIVAMOGGA':'SHIVAMOGGA',
         'GOREGAON EAST, MUMBAI -  400097':'MUMBAI',
         'NASHIK. GST NO. 27ALXPD3261A1Z9':'NASHIK',
         'DOMBIVLI (E)':'EAST DOMBIVLI',
         'PERUMCHERY  POST, THRISSUR':'THRISSUR',
         'HYDERABA':'HYDERABAD',
         'ANNA NAGAR WEST, CHENNAI':'CHENNAI',
         'CHENNAI 600042':'CHENNAI',
         'PUNE 36':'PUNE',
         'GOREGAON WEST, MUMBAI':'MUMBAI',
         'PEROLE,NILESHWAR P.O, KASARAGOD DISTRICT ':'KERELA',
         'PRAYAGRAJ (ALLAHABAD)':'PRAYAGRAJ',
         'MULUND ( WEST), MUMBAI, PIN 400080':'MUMBAI',
         'WALKESHWAR,MUMBAI':'MUMBAI',
         'NALASOPARA WEST':'WEST NALASOPARA',
         'MUMBAI-400001':'MUMBAI',
         'NIZAMPET VILLAGE, RANGA REDDY DISTRICT, HYDERABAD':'HYDERABAD',
         'THANE:421302':'THANE',
         'MADIPAKAM CHENNAI':'CHENNAI',
         'SAHAR ROAD, ANDHERI-EAST, MUMBAI':'MUMBAI',
         'KANUVAI, COIMBATORE':'COIMBATORE',
         'CHEMBUR EAST, MUMBAI':'MUMBAI',
         'MUMBAI 400 020':'MUMBAI',
         'CHHIBRAMAU,KANNAUJ':'KANNAUJ',
         'ULHASNAGAR 421004':'ULHASNAGAR',
         'RAJARHAAT , KOLKATA':'KOLKATA',
         'VASHI, NEW MUMBAI.':'NEW MUMBAI',
         'KANDIVALI EAST MUMBAI':'EAST MUMBAI',
         'KAHALGAON, BHAGALPUR':'KAHALGAON',
         'PUDUCHERRY 605003':'PUDUCHERRY',
         'NEW TOWN , KOLKATA':'KOLKATA',
         'BANGALORE-78':'BANGALORE',
         'CHEMBUR, MUMBAI':'MUMBAI',
         'ECIL,HYDERABAD':'HYDERABAD',
         'PUNE 411041':'PUNE',
         'ULWE,NAVI MUMBAI':'MUMBAI',
         'MIYAPUR, HYDERABAD':'HYDERABAD',
         'BENGALURU 560043':'BANGALORE',
         'KARAPAKKAM CHENNAI':'CHENNAI',
         'NIGADI PRADHIKARAN PUNE':'PUNE',
         'MAGARPATTA CITY, PUNE':'PUNE',
         'SOPANBAUG, PUNE':'PUNE',
        }
        
df['ship-city'].replace(my_dict,inplace=True)
df['ship-city'].replace('THNE','MUMBAI',inplace=True)

In [ ]:
df['ship-city'].value_counts().sort_values(ascending=False)

In [ ]:
#dropping duplicates
df.drop_duplicates(inplace=True)
df.info()

In [ ]:
#the nulls in Amount column are the cancelled orders,will fill them with zeros
df['Amount'].fillna(0,inplace=True)

In [ ]:
df['Amount'].isnull().sum()

### * How many unique orders

In [ ]:
df['Order ID'].nunique()

### * How frequently orders can get cancelled

In [ ]:
sum(df['Status']=='Cancelled')

### * Percentage of cancelled orders

In [ ]:
sum(df['Status']=='Cancelled')*100/df['Order ID'].count()

### * Does sales increase or decreased in specific month

In [ ]:
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Month']

In [ ]:
#Getting the month name 

import calendar
df['Month'] = df['Month'].apply(lambda x: calendar.month_abbr[x])

In [ ]:
df['Month'].nunique()

In [ ]:
sns.barplot(x='Month',y='Amount',data=df)

### *Top five profitable cities

In [ ]:
df.groupby('ship-city')['Amount'].sum().sort_values(ascending=False).head(5)

### * Top five profitable states

In [ ]:
df.groupby('ship-state')['Amount'].sum().sort_values(ascending=False).head(5)


### * Most shipment service  level used

In [ ]:
df[['ship-service-level']].value_counts()

### * Most ordered category

In [ ]:
df.columns

In [ ]:
df['Category'].value_counts().sort_values(ascending=False).head(3)

### * How often b2b transactions happen

In [ ]:
print('Number of B2B orders ',len(df[df['B2B']==True]))

In [ ]:
print('Percentage of b2b orders ', len(df[df['B2B']==True])*100/len(df['Order ID']))

### * Which category do businesses order from amazon

In [ ]:
b2b_cat = df[df['B2B']==True]['Category'].count()

In [ ]:
b2b_cat=sns.barplot(x="Category",y="B2B",data=df,ci=False)
plt.setp(b2b_cat.get_xticklabels(),
         rotation=45,
         horizontalalignment='right');

### *Which category has the highest profitability among regular customers

In [ ]:
#Sets, Saree and Westren Dresses have made the highest profits

In [ ]:
highely_profitable = df[df['B2B']==False]['Category'].count()
highely_profitable=sns.barplot(x="Category",y="Amount",data=df,ci=False)
plt.setp(highely_profitable.get_xticklabels(),
         rotation=45,
         horizontalalignment='right');

### * Deos free shipping promotion increase orders

In [ ]:
#Shipping promotions have impacted numbers of orders
#A sugestion here to increase sales is to make more shipment offers

In [ ]:
total_orders=len(df['Order ID'])
total_orders

In [ ]:
promoted_shipment= df.groupby(df['promotion-ids']!='no_promotions')['Qty'].sum()

In [ ]:
unpromoted_shipment= df.groupby(df['promotion-ids']=='no_promotions')['Qty'].sum()

In [ ]:
df.columns

In [ ]:
promoted_shipment*100/total_orders

In [ ]:
unpromoted_shipment*100/total_orders